.container-fluid.main{
  position: relative;
  padding: 0;
}

.navbar-default {
  background-image: none;
  background-color: transparent;
  border-radius: 0px;
  border: 0;
  box-shadow: none;
  padding: 10px;
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; 
}

.navbar-default .navbar-brand {
  font-family: Verdana;
  color: #ffffff;
  font-size: 20px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.carousel .background {
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 700px;
}

@media (max-width:991px) {
  .carousel .background {
  background-size: cover;
  }
}

.carousel .background.a {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/gambar1.jpeg");
}

.carousel .background.b {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/gambar2.jpeg");
}

.carousel .background.c {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/gambar3.jpeg");
}

.carousel .background.d {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/gambar4.jpg");
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 0.5s;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.covertext {
  position: absolute;
  top: 200px; 
  left: 0px; 
  right: 0px; 
}

.login {
  position: absolute;
  top: 110px;
  left: 0px;
  right: 0px;
}

.login1 {
  font-family: Tahoma;
  font-weight: 200;
  font-size: 3.5em;
  color: #fff;
  text-align: center;
}

.inputan {
  font-size: 1.75em;
  text-align: left;
  font-weight: 100;
  color: #fff;
  margin-bottom: .5em;
}

input[type=number],
input[type=password] {
  font-size: 1.10em;
  padding: .55em;
  width: 100%;
  margin-bottom: 1em;
  border: none;
}

input:placeholder {
  color: #aaaaaa;
  position: relative;
  padding: 0;
  transition: all 0.5s ease;
}

.button {
  color: rgba(255, 255, 255, 1);
  width: 6em;
  font-family: Verdana;
  font-weight: 100;
  font-size: 1.75em;
  border: 1px solid rgba(255, 255, 255, .75);
  background: transparent;
  transition: all 200ms ease-in;
  border-radius: .65em;
}

.button:hover, .button:focus,
.btn:hover, .explore .btn-lg:hover {
    background: #fff;
    color: rgb(245, 132, 33);
    border: none;
}


.title {
  font-family: Verdana;
  font-weight: 600;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
}

.subtitle {
  font-family: Verdana;
  font-size: 23px;
  color: #ffffff;
  text-align: center;
}

.explore {
  text-align: center;
  margin-top: 10px;
}

.explore .btn-lg {
  border-radius: 30px;
  padding: 15px 25px;
  font-size: 22px;
  background-image: none;
  background-color: rgba(245, 132, 33, .87);
  border-color: rgba(245, 132, 33, .87);
  color: #ffffff;
}

.btn {
  border-radius: 0px;
  background-image: none;
  background-color: rgba(245, 132, 33, .87);
  border-color: rgba(245, 132, 33, .87);
  color: #ffffff;
  margin-bottom: 20px;
  box-shadow: none;
  outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  color: #ffffff;
  outline: none;
}